{% extends 'blog/base.html' %}
{% block titlw %}Login{% endblock titlw %}
{% block body_block %}
<div class="jumbotron">
    <h2>Please Login</h2>
    <h3>(Must be superuser, plese check with site admin)</h3>

    {% if form.errors %}
        <p> Your username and Password didn't match! Please try again </P>
    {% endif %}
    <form action='{% url 'login' %}'  method='POST'> 

        {{form.as_p }}
        <input type="submit" class="btn btn-primary" value="login">
        <input type="hidden" value="{{next}}" name="next">
        {% csrf_token %}
    </form>
</div>
{% endblock body_block %}