
.bigbrand{
    font-size: 1.5em;
}

.centerstage{
    margin-left: auto;
    margin-right: auto;
}

.loader{
    filter:hue-rotate(0deg);
    color:linear-gradient(45deg, #0f8, #08f);
    animation: hue 10000ms infinite linear;
}