<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    
    <!-- Medium Style Editor -->
    <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Russo+One" rel="stylesheet">


</head>
<body class='loader'>

  <!-- NAVBAR -->
  <nav class="navbar navbar-default techfont custom-navbar">
    <div class="container">

      <ul class="nav navbar-nav">
        <li><a class='navbar-brand bigbrand' href="{% url post_list %}">My Blog</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="https://www.github.com/sagnikghoshcr7">Github</a></li>
        <li><a href="https://www.linkedin.com/in/sagnik-ghosh-564574199">LinkedIn</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
          <li>
            <a href="{% url 'post_new' %}">New Post</a>
          </li>
          <li>
            <a href="{% url 'post_draft_list' %}">Drafts</a>
          </li>
          <li>
            <a href="{% url 'logout' %}">Log Out</a>
          </li>
          <li>
            <a>Welcome: {{ user.username }}</a>
          </li>
            {% else %}
              <li><a class="nav navbar-right" href="{% url 'login' %}"><span class='glyphicon glyphicon-user'></span></a></li>
        {% endif %}
      </ul>

    </div>
  </nav>

  <!-- CONTENT BLOCK -->
  <div class="content container">
    <div class="row">
      <div class="col-md-8">
        <div class="blog_posts">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
  
</body>
</html>